@mjml()
<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text>
          <h1>Réinitialise ton mot de passe</h1>
        </mj-text>
        <mj-text>
          <p>Clique sur le bouton pour accéder au formulaire de réinitialisation</p>
        </mj-text>
        <mj-button href="{{link}}">
          Accéder au formulaire
        </mj-button>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
@end
